
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body {
	background: #e8e8e8 url('img/bg.png') 50% 130px no-repeat;
}

.content {
	font-family: "Times New Roman", Arial;
	color: rgb(39 61 70);
	padding: 168px 0 137px 0;
	margin: 0 auto;
	max-width: 841px;
}

.name {
	color: rgbA(39, 61, 70, 0.6);
	font-family: Arial;
	font-size: 14px;
	text-align: center;
	letter-spacing: 3px;
}


h1 {
	font-size: 36px;
	text-align: center;
	height: auto;
	margin-top: 17px;
	margin-bottom: 70px;
	width: 841px;
	margin: 0, auto;
	line-height: 50px;
}

.image {
background: white;
padding: 10px;
}

.image img {
max-width: 100%;
}

.basis {
	padding-top: 85px;
	font-size: 24px;
	color: rgbA(39, 61, 70, 0.8);
	line-height: 40px;
}

.basis p
{
padding: 0px 45px;
margin-bottom: 40px;
}

.basisul {
	color: rgbA(39, 61, 70, 0.8);
	font-family: "Arial";
	font-size: 20px;
	text-align: left;
	padding-bottom: 40px;
	padding: 0px 45px;
	line-height: 30px;

}

.li1 {
	 background: url('img/check.png') left no-repeat ;
	 padding-left: 30px;
	text-shadow: 0 1px 0 rgbA(0, 0, 0, 0.3);
}

.li2 {
	background: url('img/check.png') left no-repeat ;
	padding-left: 30px;
	font-style: italic;
	color: 80b7b3;
}

.li3 {
	background: url('img/check.png') left no-repeat ;
	padding-left: 30px;
	font-weight: 700;
}

.li4 {
	background: url('img/check.png') left no-repeat ;
	padding-left: 30px;
	text-decoration: line-through;
  opacity: 1.0;
	color: bfc2c3;
	margin-bottom: 59px;
}

.mylink {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2.8px;
	border-radius: 24px;
	box-shadow: 0px 5px 1px rgba(0, 0, 0,0.5);
	-webkit-box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.5);
	display: inline-block;
	color: white;
	background-color: 80b7b3;
	height: 44px;
	padding: 0 30px;
	line-height: 44px;
}

.mylink span
{
padding: 0 30px 0 0;
		background: url('img/arrow.svg') right no-repeat
}

.mylink:hover
{
	background-color: 662728;
}

.mylink:active{
	position: relative;
	top: 3px;
	-webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 2px 1px rgba(0, 0, 0,0.5);
}
